@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="maintitle">Almost IMDB</h1>
    <p class="lead ">When you want to reinvent the wheel while learning something....</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg moviedetailbutton">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="maintitle">Getting started</h2>
        <p>
            See a list of movies.
        </p>
        <p><a class="btn btn-default moviedetailbutton" href="http://localhost:49407/Movies">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="maintitle">Directors</h2>
        <p>See a list of Directors</p>
        <p><a class="btn btn-default moviedetailbutton" href="http://localhost:49407/Directors">Directors &rsaquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="maintitle">Genres</h2>
        <p>See a list of Genres</p>
        <p><a class="btn btn-default moviedetailbutton" href="http://localhost:49407/Genres">Genres &raquo;</a></p>
    </div>
</div>